.calculadora {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 0.25rem;
		box-shadow: 0 0 16px 0 rgb(90 110 139 / 16%);
		padding: 50px 20px;
		gap: 15px;
		width: 90%;
		max-width: 500px;
	}

	h1 {
		font-size: 30px;
		font-weight: 600;
		color: #303030;
	}

	h2 {
		color: #1a1a1a;
		font-size: 25px;
		font-weight: 700;
		width: 90%;
		text-align: center;
	}

	label {
		display: flex;
		flex-direction: column;
		width: 100%;
		font-size: 15px;
		color: #303030;
		gap: 5px;
		font-family: inherit;
	}

	input {
		width: 100%;
		border-radius: 5px;
		height: 35px;
		border: 1.5px solid rgba(26, 55, 77, 0.149);
		color: #707070;
		font-size: 15px;
		font-weight: 500;
		padding: 8px 10px;
		font-family: inherit;
		transition: box-shadow 0.5s;
	}

	ul {
		background-color: #fff;
		width: 100%;
		border: 1.5px solid rgba(26, 55, 77, 0.149);
		margin-top: -10px;
		padding: 0;
		li {
			padding: 5px;
			font-size: 15px;
			color: #1a1a1a;
			border-bottom: solid 1px rgba(0, 0, 0, 0.164);
		}
		li:last-child {
			border-bottom: none;
		}
	}

	.result-location {
		border-radius: 15px;
		border: 1.5px solid rgba(26, 55, 77, 0.149);
		padding: 3px 15px;
		width: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		button {
			border: none;
			background-color: transparent;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			svg {
				color: #1a1a1a;
				width: 10px;
				height: auto;
				pointer-events: none;
			}
		}
		button:focus {
			outline: none;
		}
	}

	input:focus {
		outline: none;
		box-shadow: 0 0 0 1.2px rgb(26 55 77 / 15%);
	}

	.cochera {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		div {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		input {
			height: auto;
		}
		p {
			font-size: 15px;
			color: #1a1a1a;
		}
	}

	button[type="submit"] {
		box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
		border: none;
		background-color: #036be8;
		color: #fff;
		font-family: inherit;
		cursor: pointer;
		font-size: 16px;
		padding: 5px 20px;
		border-radius: 3px;
		text-transform: uppercase;
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		transition: background-color 0.5s;
	}

	button[type="submit"]:hover {
		background-color: #1a1a1a;
	}

	button[type="submit"]:focus {
		outline: none;
	}
}

@media screen and (max-width: 900px) {
	.calculadora {
		width: 100%;
		justify-content: center;
		align-items: center;
		margin: 0;
	}
}
