.display-none {
	display: none;
}

.container {
	width: 100vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	flex-grow: 1;
	padding-top: 40px;
}

.content-container {
	width: 100%;
	max-width: 1344px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.modal {
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-container {
	position: relative;
	padding: 20px 10px;
	width: 90%;
	max-width: 500px;
	max-height: 90vh;
	background-color: #fff;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal-content-container {
	height: auto;
	overflow-y: auto;
	padding: 20px 35px;
}

.modal-close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background-color: transparent;
	color: #fff;
	border: none;
	font-size: 30px;
	cursor: pointer;
	border-radius: 5px;
	padding: 0;
	transition: background-color 0.5s;
	svg {
		background-color: #036be8;
	}
}

.modal-close :hover {
	background-color: #7a7a7a;
}

.is-open {
	display: flex;
}

.modal-content-container::-webkit-scrollbar {
	width: 5px;
}

.modal-content-container::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px #fff;
}

.modal-content-container::-webkit-scrollbar-thumb {
	background-color: #036be8;
	outline: #036be8;
}

.loader-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
}

.loader {
	transform: rotateZ(45deg);
	perspective: 1000px;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	color: #7a7a7a;
}
.loader:before,
.loader:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	transform: rotateX(70deg);
	animation: 1s spin linear infinite;
}
.loader:after {
	color: #036be8;
	transform: rotateY(70deg);
	animation-delay: 0.4s;
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotateZ(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotateZ(360deg);
	}
}

@keyframes rotateccw {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

@keyframes spin {
	0%,
	100% {
		box-shadow: 0.2em 0px 0 0px currentcolor;
	}
	12% {
		box-shadow: 0.2em 0.2em 0 0 currentcolor;
	}
	25% {
		box-shadow: 0 0.2em 0 0px currentcolor;
	}
	37% {
		box-shadow: -0.2em 0.2em 0 0 currentcolor;
	}
	50% {
		box-shadow: -0.2em 0 0 0 currentcolor;
	}
	62% {
		box-shadow: -0.2em -0.2em 0 0 currentcolor;
	}
	75% {
		box-shadow: 0px -0.2em 0 0 currentcolor;
	}
	87% {
		box-shadow: 0.2em -0.2em 0 0 currentcolor;
	}
}
